<div class='header'>
  <div class='row'>
    <div class='col-1'>
      <div class='logo'></div>
    </div>
    <div class='col-7 user-wrap-start'>
        <ul>
        <li role="presentation"
            routerLinkActive="active">                                  <!-- apply the "active" class to the menu item corresponding to the active route-->
        <a routerLink="/information">Informații</a>                     <!-- use routerLink to reach the component -->
        </li>
        <li role="presentation"
            routerLinkActive="active">
        <a routerLink="/person">Persoane</a>
        </li>
        <li role="presentation"
            routerLinkActive="active">
        <a routerLink="/car">Mașini</a>
      </li>
      </ul>
    </div>
  </div>
</div>

