
<div>
    <div class='row'>
      <div class='col-4'>
        <button class='btn btn-primary btn-sm' type='button' (click)='addEdit()'>                           <!-- button to add or edit a person -->
          <fa-icon [icon]='faPlus'></fa-icon> Adaugă
        </button>
      </div>
      <div class='col-4'>
        <h4 class='text-center'>Persoane</h4>
      </div>
      <div class='col-4'></div>
    </div>
  
    <div class='row'>
      <div class='col-12 width-1220'>
        <table class='table table-striped table-hover'>                                                     <!--create table-->
          <thead>
            <tr class='table-bordered'>
              <th width='20px' rowspan='2'>Număr curent</th>
              <th width='70px'>Nume</th>
              <th width='70px'>Prenume</th>
              <th width='100px'>CNP</th>
              <th width='20px'>Vârstă</th>
              <th width='20px' colspan='5'>Lista masini</th>
              
              <th rowspan='2' width='70px'></th>
            </tr>
            <tr>                                                                                            <!-- row for search filters -->
              <th width='70px'><input class='form-control input-xs' placeholder='Căutare...'></th>
              <th width='70px'><input class='form-control input-xs' placeholder='Căutare...'></th>
              <th width='100px'><input class='form-control input-xs' placeholder='Căutare...'></th>
              <th width='20px'><input class='form-control input-xs' placeholder='Căutare...'></th>
              <th width='70px'>Marca</th>
              <th width='70px'>Model</th>
              <th width='70px'>An fabricatie</th>
              <th width='70px'>Capacitate cilindrica</th>
              <th width='70px'>Taxa de impozit</th>
            </tr>
          </thead>
        </table>
      </div>
  
      <div class='col-12 position-relative width-1220'>
        <div 
        id='view' 
        class='view-scroll-informations' 
        style='max-height: 60vh;' 
        [scrollWindow]='false' 
        (scroll)='showTopButton()' 
        infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="30" (scrolled)="onScrollDown()">      <!-- area for displaying people data with continuous loading functionality (infinite scroll) -->
          <button type='button' id='back-top' class={{this.showBackTop}} (click)='onScrollTop()'>                   <!-- button to return to the top of the page -->
            <fa-icon [icon]='faChevronUp'></fa-icon>
          </button>
          <table class='table table-hover table-striped table-bordered font-14 p-0'>
            <tbody>
              <tr *ngFor='let p of person.slice(0, limit); let i=index' (dblclick)='addEdit(p.id)' class='cursor-pointer'>   <!-- display data about people using a *ngFor loop -->
                <td width='20px' class='text-center'>{{nrCrt + i}}</td>
                <td width='70px'>{{p.lastname}}</td>
                <td width='70px' class='text-center'>{{p.firstname}}</td>
                <td width='100px' class='text-center'>{{p.cnp}}</td>
                <td width='20px' class='text-center'>{{p.age}}</td> 
                <td width='30px' (click)='addEdit(p.id)' class='text-center' matTooltip='Modificare' matTooltipPosition='left'>     <!--click listener for addEdit button-->
                  <fa-icon class='text-primary' [icon]='faEdit'></fa-icon>
                </td>
                <td width='30px' (click)='delete(p)' class='text-center' matTooltip='Ștergere' matTooltipPosition='left'>                 <!--click listener for delete button-->
                  <fa-icon class='text-danger' [icon]='faTrashAlt'></fa-icon>
                </td>
              </tr>
              <tr colspan='15' *ngIf='!person.length' class='text-center fw-bold'>                                     <!-- Message in case there is no data to display -->
                <td>Date inexistente!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
